@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @apply text-black;
  @apply bg-gray-50;
  @apply dark:text-gray-50;
  @apply dark:bg-black;
  @apply font-sans;
}
