.main {
  height: fit-content;
  width: calc(100vw - 200px);
  flex-direction: column;
  margin: 100px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.codecontainer {
  position: relative;
  padding-top: 50px;
}
.codebackground {
  z-index: -1;
  height: 400px;
  position: absolute;
  top: 50%;
  right: 250px;
  transform: translateY(-50%);
}
.codeblock {
  border-radius: 10px;
  background-color: #1e1e1e;
  padding: 25px;
  font-size: 1.25rem;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}
.header {
  text-align: center;
}
.header h1 {
  font-size: 5rem;
  font-weight: bold;
}
.header h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}
@media (min-width: 1200px) {
  .main {
    flex-direction: row;
    margin-top: 200px;
  }
  .codebackground {
    height: 600px;
  }
  .header {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .main {
    margin: 100px 200px;
    margin-top: 200px;
    width: calc(100vw - 400px);
  }
}
