.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  background-color: var(--bg-color);
  box-shadow: 0 0 50px -15px var(--color);
}
.title {
  font-weight: bold;
  font-size: 2rem;
}

.nav > nav > ul {
  display: flex;
  align-items: center;
}
.nav > nav > ul > li {
  margin: 0 25px;
}
.nav > nav > ul > li > a {
  text-decoration: none;
}
.extraLink {
  display: none;
}
.displayLink {
  margin: 0 5px !important;
}
@media (min-width: 576px) {
  .extraLink {
    display: list-item;
  }
}
