.container {
  background-color: #1a1a1a;
  color: white;
  padding: 32px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 1024px;
  max-width: 100vw;
}

.gradientName {
  background: linear-gradient(
    135deg,
    rgba(115, 115, 204, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:inline-block
}

.gradientVariable {
  background: linear-gradient(135deg, #ff4b19, #fab432);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cursor {
  animation: blink 0.75s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.markdownBody {
  padding: 4px 8px;
  max-width: 635px;
  max-width: 65ch;
  font-size: 18px;
  line-height: 1.75;
}

.markdownBody code {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .9em;
  background-color: #303030;
  padding: 4px;
  border-radius: 4px;
}

.markdownBody a {
  text-decoration: underline;
}